
:root{
  --primary: #00ac33;
}

body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  background-color: #003515;
}
/* TYPHOGRAPHY */
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
img{
  width: 100%;
}
p{
  line-height: 1.5rem;
  font-size: 17px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.link{
  position: relative;
  color: #ffffff;
  border: 1px solid #c0c0c0;
  display: inline-block;
  min-width: 140px;
  padding: 5px 0px;
  margin: 10px auto;
  text-align: center;
  transition: .2s ease;
  z-index: 2;
  overflow: hidden;
  font-weight: 700;
}
.link:hover:before{
 left: -40px;
}
.link:hover{
  color: #c2c2c2;
  border-color: #c2c2c2;
}
h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: capitalize;
  text-align: left;
}

/* Media Query */
@media (max-width: 992px) {
  body header #nav-toggle {
    visibility: visible;
    display: inline-block;
  }
  body header .main-menu .menu{
  top: 80px;
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  overflow: hidden;
  left: 0;
  text-align: center;
  background-color: #ffffff;
  transition:  .3s ease;
  }
  body header .notifications{
    top: 33px;
    right: 40px;
    position: inherit;
  }
  body header .main-menu.active .menu{
      padding: 0px 0px 30px 0px;
      background-color: #ffffff;
      box-shadow: 0px 3px 3px 0px #a2a1a186;
      height: 320px;
      width: 100%;
      visibility: visible;
  }
  body header .main-menu .menu li{ 
    margin: 0 auto;
    line-height: 60px;
    width: 100px;
  }
  body header .main-menu .menu li a::before{
    display: inline-block;
  }
  body header .main-menu .menu li:hover::before{
  transform: scaleX(0);
  }
  body .speaker-section .speaker-text{
    padding: 0px 0px 20px 0px;
  }
  body .course-section .tab-pane {
    padding: 0px;
    margin-left: 0px;
}
  
}
@media(max-width:768px){
body #preloader{
  background-size: 25px;
}
body .about-section .reverse{
  flex-wrap: wrap-reverse;
}
body .video-banner .content{
  padding: 100px 5%;
}
body .banner-part .banner-text h1{
  margin-top: 30px;
}
body .banner-part .banner-text .link{
  bottom: -50px;
}
body .accordion-button::after{
width: 20px !important;
}
body .subscribe-part input[type='email'] {
  min-width: 205px;
}
body .contact-form .contact-info {
  padding: 35px 10px 0px 10px;
}
body .contact-form .contact-card {
  padding: 50px 10px 0px 10px;
  }
}

@media(max-width:576px){
  body .subscribe-part input[type='email'] {
    max-width: 205px;
  }
  body #top-scroll{
    font-size: 17px;
    width: 45px;
    height: 45px;
  }
  body .banner-part .background-bg video {
    width: 100%;
    min-height: 550px;
  }
}
/*   Preloader    */
#preloader{
position: fixed;
width: 100%;
height: 100vh;
background-color: #fafafa;
background-image: url('../images/loading.gif');
background-repeat: no-repeat;
background-position: center;
background-size: 40px;
z-index: 99999999999;
}
/* Top-scroll */
#top-scroll{
position: fixed;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
color: #ffffff;
font-size: 18px;
right: 15px;
bottom: 30px;
width: 50px;
height: 50px;
border-radius: 50px;
background-color: #000000c7;
z-index: 99999;
visibility: hidden;
opacity: 0;
transition: all .4s ease;
}
#top-scroll.visible{
opacity: 1;
visibility: visible;
}

/* Header-part */
header {
position: fixed;
background-color: #ffffff;
left: 0;
top: 0;
right: 0;
margin: 0 auto;
width: 100%;
height: 80px;
text-transform: capitalize;
z-index: 99999;
transition: .3s ease;
box-shadow: 0px 1px 5px 0px rgba(129, 129, 129, 0.445);
}
header .container{
display: flex;
justify-content: space-between;
margin-top: -7px;
align-items: center;
}
header .container .logo h3 span{
color: var(--primary);
}
header .container .logo img{
  width: 26px;
  margin: -7px 0 0 0;
}
header .container .logo h3 a{
color: #000000;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-transform: capitalize;
line-height: 90px;
font-weight: bold;
}
header  .main-menu .menu{
display: flex;
justify-content: center;
align-items: center;
z-index: 99999999;
}
header .main-menu .menu li{
margin: -7px 15px 0px 15px;
}
header .main-menu .menu li a{
position: relative;
font-weight: bold;
}
header .main-menu .menu li a:hover,header .main-menu .menu li a.active{
color: var(--primary);
}
header .main-menu .menu li a::before{
position: absolute;
content: '';
left: 0;
bottom: -4px;
width: 100%;
height: 2px;
transform: scaleX(0);
background-color: var(--primary);
}
header .main-menu .menu li a:hover::before{
transform: scaleX(1);
transition: all .3s ease;
}
header .main-menu .menu li a.active::before{
color: #ff4000;
transform: scaleX(1);
transition: all .3s ease;
}
header .main-menu .menu li a{
padding: 8px 5px 5px 5px;
color: #000000;
font-weight: 600;
transition: all .2s ease;
border-bottom: 2px solid transparent;
}
/* header .main-menu .menu li .active{
background-color: #60f000;
color: #000000;
} */
header.hide{
  transform: translateY(-90px);
}
header #nav-toggle{
  float: right;
  width: 35px;
  height: 30px;
  cursor: pointer;
  visibility: hidden;
  display: none;
  color: #ff4000;
  z-index: 2;
}
#nav-toggle span {
  position: relative;
  height: 3px;
  width: 32px;
  background-color: #000000;
  display: inline-block;
  margin: auto;
  margin-left: 3px;
  z-index: -1;
}
#nav-toggle.active span {
  background: transparent;
}
#nav-toggle span::before,
#nav-toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  transition: 0.3s ease;
  background-color: #000000;
  transition: top .2s .2s ease, transform .2s ease;
  -webkit-transition: top .2s .2s ease, transform .2s ease;
}
#nav-toggle span::before {
  top: -8px;
}
#nav-toggle.active span::before {
  top: 0px;
  transition: top .2
  s ease, transform .2s .2s ease;-webkit-transition: top .2s ease, transform .2s .2s ease;
  transform: rotate(45deg);
  width: 100%;
}
#nav-toggle span::after {
  top: 8px;
}
#nav-toggle.active span::after {
  top: 0px;
  transition: top .2s ease,  transform .2s .2s ease;
  -webkit-transition: top .2s ease, transform .2s .2s ease;
  transform: rotate(-45deg);
  width: 100%;
}
